html,
body{
  height: 100%;
}

body{
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
}

.main{
  mai-height: 100%;
}

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-small{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.user-btn{
  background-color: $bglink;
  padding: 15px;
  margin-left: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    background-color: $accent;
    path{
      fill: #fff;
    }
  }
  svg{
    height: 18px;
  }  
}

.title{
  @extend %roboto-700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: $title;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.title-filters{
  display: inline-block;
  @extend %roboto-700;
  font-size: 20px;
  color: $accent;
  padding-right: 55px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 28px;
  &::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: $accent;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.link-btn{
  display: inline-block;
  border: 3px solid $accent;
  text-transform: uppercase;
  padding: 15px 35px;
  color: $title;
  transition: all .3s;
  &:hover{
    border: 3px solid $sale;
  }
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 630px;
  }
  &__item{
    color: $title;
    font-size: 15px;
    padding-right: 40px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 15px;
      top: 0;
    }
    &:last-child{
      padding-right: 0;
      color: $accent;
      @extend %roboto-700;
      &::after{
        display: none;
      }
    }
    &:hover{
      color: $accent;
    }
  }
  &__link{
    color: inherit;
  }
}

.checkbox{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.btn{
  background-color: $accent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline-color: transparent;
  color: #fff;
  letter-spacing: 2px;
  transition: all .3s;
  &:hover{
    background-color: $sale;
  }
}