@media (max-width: 1400px){
  .header-top{
    &__text{
      max-width: 240px;
      font-size: 14px;
      line-height: 18px;
    }
    &__cart-num{
      top: 5px;
      right: 6px;
      font-size: 9px;
    }
  }
  .leng{
    &__link{
      font-size: 12px;
      padding: 8px 9px;
    }
  }
  .callback{
    &__btn-popup{
      padding: 10px;
      svg{
        width: 20px;
        height: 20px;
      }
    }
  }
  .user-btn{
    padding: 5px 10px;
    height: 40px;
    svg{
      width: 20px;
      height: 20px;
    }
  }
  .search{
    &__input-box{
      width: 140px;
    }
    &__input{
      height: 40px;
    }
    &__btn{
      margin-left: -40px;
    }
  }
  .menu{
    &__item{
      padding: 5px 0;
    }
  }
  .categories{
    background-image: none;
    &__container{
      background-image: none;
    }
    &__info::before,
    &__info::after{
      display: none;
    }
  }
  .partners{
    &__img{
      max-width: 250px;
    }
  }
  .certificates{
    background-image: none;
    &__wrapper{
      background-image: none;
    }
  }
  .top{
    &__wrapper{
      background-size: 30%;
    }
    &__inner{
      background-size: 30%;
      padding: 80px 0;
    }
    &__title{
      max-width: 400px;
    }
  }
  .breadcrumbs{
    &__list{
      max-width: 455px;
    }
  }
}

@media (max-width: 1200px){
  .categories{
    &__info-item{
      padding: 100px 30px 30px;
      width: 270px;
      height: 290px;
      &::before{
        top: 20px;
      }
    }
    &__info-title{
      max-width: 260px;
    }
    &__item--mix {
      background-position: right -204px bottom -140px;
    }
    &__item--mushrooms {
      background-position: right -353px bottom -205px;
    }
    &__item--vegetables {
      background-position: right -290px center;
    }
  }
  .sale{
    &__container{
      padding: 75px 0;
      background-image: none;
    }
    &__inner{
      width: 100%;
      margin: 0 auto;
    }
    &__counter{
      justify-content: center;
    }
    &__counter-num + .sale__counter-num{
      margin-left: 45px;
    }
  }
  .product-item{
    max-width: 300px;
    height: 490px;
    & + .product-item{
      margin-left: 10px;
    }
    &:nth-child(4){
      margin-left: 0;
    }
    &__img-box {
      width: 300px;
      height: 220px;
    }
    &__content{
      height: 265px;
    }
  }
  .blog{
    &__items{
      width: 65%;
      margin-right: 45px;
    }
    &__categories{
      width: 35%;
    }
  }
}

@media (max-width: 1100px){
  .callback{
    &__link{
      display: none;
    }
  }
  .header-content{
    &__item-wrapper{
      justify-content: space-around;
    }
    &__img-box{
      width: 300px;
      height: 300px;
    }
    &__item{
      height: 400px;
      margin-top: 50px;
    }
    &__title{
      font-size: 50px;
      line-height: 56px;
      margin-bottom: 15px;
    }
    &__desc{
      margin-bottom: 20px;
    }
    &__slider{
      height: 500px;
    }
  }
  .title{
    font-size: 40px;
    margin-bottom: 40px;
  }
  .cooking{
    &__link{
      height: 400px;
    }
  }
  .certificates{
    &__wrapper{
      padding: 85px 0;
    }
  }
  .footer{
    &__list,
    &__text{
      font-size: 12px;
      line-height: 24px;
    }
    &__list-item{
      margin-bottom: 10px;
    }
    &__title{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    &__addres,
    &__email{
      font-size: 14px;
      line-height: 24px;
    }
    .social__link svg{
      height: 25px;
    }
  }
  .top{
    &__inner{
      padding: 55px 0;
    }
    &__title{
      margin: 0 auto 15px;
    }
  }
  .breadcrumbs{
    &__list{
      max-width: 350px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .form-price{
    &__label{
      flex-wrap: wrap;
    }
    &__btn{
      width: 100%;
      margin-top: 20px;
      padding: 7px 0;
    }
  }
  .shop{
    padding: 90px 0;
    .product-item{
      max-width: 260px;
      height: 465px;
      &--list{
        max-width: 100%;
        height: 252px;
      }
      &__img-box {
        width: 260px;
        height: 190px;
      }
      &__text{
        font-size: 14px;
        line-height: 24px;
      }
      &__title{
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .product-one{
    padding: 120px 0 25px;
    &__slider{
      display: flex;
      justify-content: center;
      width: 440px;
    }
    .slick-dots{
      bottom: 0;
    }
  }
  .product-slider{
    &__small{
      display: none;
    }
    .slick-slide{
      outline: none;
    }
  }
  .popular-item{
    &.popular-item--big{
      .popular-item__img-box{
        width: 220px;
        height: 220px;
      }
    }
  }
  .register-login{
    padding: 90px 0;
  }
  .contacts{
    &__review{
      padding: 30px;
      width: 50%;
    }
    &__form-top{
      flex-direction: column;
    }
    &__input + .contacts__input{
      margin-left: 0;
    }
    &__btn{
      height: 45px;
    }
  }
}

@media (max-width: 900px){
  .header-top{
    &__text{
      max-width: 150px;
    }
  }
  .title{
    font-size: 35px;
    margin-bottom: 30px;
  }
  .leng{
      display: flex;
      flex-direction: column;
      align-items: center;
    &__link{
      padding: 0 8px;
    }
    &__link + .leng__link{
      margin-left: 0;
      margin-top: 5px;
    }
  }
  .categories{
    &__info-item{
      width: 230px;
      height: 250px;
    }
    &__info-title{
      font-size: 16px;
      margin-bottom: 14px;
    }
    &__info-text{
      font-size: 12px;
      line-height: 20px;
    }
  }
  .categories{
    &__item{
      padding: 15px;
      min-height: 270px;
    }
    &__item--vegetables {
      background-position: right -423px center;
    }
    &__item--mix {
      background-position: right -164px bottom -170px;
    }
    &__item--mushrooms {
      background-position: right -244px bottom -253px;
    }
  }
  .cooking{
    &__title{
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 25px;
    }
    &__item{
      margin-bottom: 10px;
    }
  }
  .partners{
    padding: 50px 0;
    &__img-box{
      height: 60px;
    }
    &__img{
      max-width: 150px;
    }
  }
  .certificates{
    &__wrapper{
      padding: 50px 0;
    }
    &__img{
      height: 270px;
    }
  }
  .footer{
    &__text{
      max-width: 200px;
    }
  }
  .top{
    &__inner{
      padding: 50px 0;
    }
    &__title{
      margin-bottom: 10px;
    }
  }
  .no-scroll{
    overflow: hidden;
  }
  .shop{
    padding: 70px 0;
    &__filter-wrapper{
      position: fixed;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 15;
      transition: all .3s;
      cursor: pointer;
      &.shop__filter-wrapper--active{
        opacity: 1;
        visibility: visible;
      }
    }
    &__filter{
      transform: translateX(-200%);
      transition: all .3s;
      background-color: #fff;
      cursor: default;
      z-index: 16;
      top: 0;
      right: 0;
      max-width: 340px;
      height: 100%;
      margin-right: 0;
      width: auto;
      overflow: auto;
      &.shop__filter--active{
        transform: translateX(0);
      }
    }
    .product-item{
      margin-left: 0;
      margin-bottom: 0;
      &__btn,
      &__search{
        width: 40px;
        height: 40px;
        svg{
          max-width: 20px;
          max-height: 20px;
        }
      }
      &__price{
        font-size: 14px;
      }
    }
    &__popular{
      display: none;
    }
    &__filter-title{
      display: block;
      background-color: $accent;
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      width: 100%;
      padding: 19px;
      letter-spacing: 3px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__filter-btn{
      background-color: transparent;
      border: none;
      color: #fff;
      padding: 0;
      font-size: 30px;
      cursor: pointer;
      outline: none;
    }
    &__search,
    &__price,
    &__categories{
      padding: 0 25px;
    }
    &__search{
      margin-bottom: 0;
      margin: 40px 0;
    }
    &__price{
      margin-bottom: 40px;
    }
  }
  .search-big{
    &__input{
      height: 40px;
    }
    &__btn{
      height: 40px;
      width: 40px;
      margin-left: -40px;
    }
  }
  .title-filters{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-price{
    &__label{
      margin-top: 30px;
    }
  }
  .filter{
    &__checkbox{
      padding: 10px 12px;
      font-size: 14px;
    }
  }
  .shop-content{
    width: 100%;
    &__inner{
      width: 100%;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__nogrid{
      display: flex;
    }
    &__btn{
      display: block;
    }
  }
  .product-one{
    &__title{
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    &__price{
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }
    &__descr{
      font-size: 14px;
    }
    &__btn{
      width: 155px;
    }
  }
  .review{
    &__input,
    &__textarea{
      font-size: 13px;
      &::placeholder{
        font-size: 13px;
      }
    }
  }
  .blog-item{
    &__img-link{
      height: 290px;
    }
  }
  .register-login{
    padding: 70px 0;
    &__input,
    &__btn{
      height: 45px;
      padding: 0 15px;
    }
    &__label-btn{
      width: 25px;
      height: 25px;
      top: 47px;
    }
    &__img{
      height: 17px;
    }
  }
  .contacts{
    padding: 80px 0;
    &__item{
      display: block;
    }
    &__img-box{
      margin-bottom: 15px;
    }
    &__review{
      width: 60%;
    }
  }
}

/* -----------------------------------------------------------------*/

@media (max-width: 768px){
  body{
    font-size: 14px;
    line-height: 20px;
  }
  .menu-box{
    padding: 20px 15px;
    width: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    max-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
    &.menu-box--active{
      transform: scaleY(1);
    }
    &__bottom{
      display: block;
      text-align: center;
      margin-top: 70px;
      .leng{
        display: block;
        text-align: center;
        margin-top: 20px;
      }
    }
    &__user{
      color: #fff;
      font-size: 14px;
    }
    &__link{
      color: inherit;
      transition: all .3s;
      &:hover{
        color: #00bcd4;
      }
    }
  }
  .menu{
    &__list{
      flex-direction: column;
    }
    &__item + .menu__item{
      margin-left: 0;
    }
  }
  .leng{
    display: none;
  }
  .search{
    display: none;
  }
  .leng{
    margin-top: 10px;
    &__link{
      padding: 3px 8px;
      &:hover{
        background-color: #00bcd4;
      }
    }
    &__link--active{
      background-color: #00bcd4;
    }
    &__link + .leng__link{
      margin-top: 0;
      margin-left: 5px;
    }
  }
  .btn-menu{
    display: flex;
    order: 1;
    margin-left: 15px;
  }
  .header-top{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 15;
    &__user{
      display: none;
    }
    &__wrapper{
      background-color: rgba(41, 103, 175, 0.3);
    }
    .callback{
      order: 1;
      margin-left: 15px;
    }
    &__text{
      max-width: 240px;
      text-align: center;
    }
    &__account{
      margin-left: 0;
    }
    .user-btn{
      margin-left: 0;
    }
    &__inner{
      padding: 15px 0 10px;
    }
  }
  .header-content{
    padding-top: 70px;
    &__item-text{
      margin-right: 15px;
    }
    &__title,
    &__desc{
      max-width: 270px;
    }
    &__title{
      font-size: 40px;
      line-height: 47px;
    }
    &__link{
      max-width: 160px;
      padding: 8px 45px 8px 12px;
    }
  }
  .popup{
    &__close{
      font-size: 30px;
    }
    &__content{
      padding: 45px 40px;
    }
    &__title{
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    &__input{
      margin-bottom: 10px;
    }
  }
  .categories,
  .product{
    padding: 85px 0;
  }
  .categories{
    &__info{
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 50px;
    }
    &__info-item{
      margin-right: 10px;
      margin-bottom: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    &__item--berries {
      grid-row: span 1;
      background-position: bottom -244px center;
    }
    &__item--vegetables {
      grid-column: span 1;
      background-position: bottom -395px center;
    }
  }
  .sale{
    &__counter{
      margin-bottom: 40px;
    }
    &__counter-num{
      width: 100px;
      height: 100px;
    }
    &__counter-num + .sale__counter-num {
      margin-left: 20px;
    }
    &__counter-time{
      font-size: 35px;
      line-height: 40px;
    }
  }
  .product-item{
    & + .product-item{
      margin-left: 0px;
    }
    margin: 0 auto;
    max-width: 265px;
    height: 485px;
    &__img-box {
      width: 265px;
    }
  }
  .product{
    .slick-dots{
      bottom: -40px;
    }
    &__inner{
      margin-bottom: 70px;
    }
  }
  .cooking{
    padding: 85px 0 50px;
    &__inner{
      flex-direction: column;
    }
    &__link{
      order: 1;
      width: 100%;
      margin-right: 0;
      margin-top: 30px;
    }
    &__content{
      width: 100%;
    }
    &__item{
      font-size: 18px;
    }
  }
  .partners{
    &__img-box{
      height: 35px;
    }
  }
  .certificates{
    &__img{
      height: 200px;
    }
  }
  .footer{
    padding: 40px 0 30px;
    &__list,
    &__text{
      font-size: 10px;
      line-height: 18px;
    }
    &__addres,
    &__email {
      font-size: 11px;
      line-height: 15px;
    }
    &__addres{
      margin: 15px 0 10px;
    }
  }
  .top{
    padding-top: 85px;
    &__inner{
      padding: 30px 0;
    }
    &__title{
      font-size: 30px;
      line-height: 40px;
      max-width: 300px;
      margin-bottom: 15px;
    }
  }
  .breadcrumbs{
    &__list{
      max-width: 290px;
    }
  }
  .shop-content{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
    }
    .product-item{
      max-width: 100%;
      &__img-box{
        width: 100%;
      }
    }
    .jq-selectbox{
      &__select{
        padding: 0 30px 0 10px;
      }
    }
  }
  .product-one{
    padding: 85px 0 50px;
    &__inner{
      flex-direction: column;
    }
    &__slider{
      width: 100%;
      margin-right: 0;
    }
    &__title{
      text-align: center;
    }
  }
  .product-slider{
    &__big-item{
      height: 490px;
    }
    .slick-dots button{
      width: 15px;
      height: 15px;
    }
    &__big{
      width: 320px;
    }
  }
  .reviews{
    &__box-img{
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    &__img{
      width: 50px;
      height: 50px;
    }
    &__content{
      max-width: calc(100% - 70px);
    }
  }
  .review-form{
    &__textarea{
      padding: 5px 10px;
    }
    &__btn-text{
      font-size: 12px;
    }
  }
  .review{
    &__btn{
      height: 40px;
    }
    &__textarea,
    &__form-top{
      margin-bottom: 25px;
    }
    &__input + .review__input{
      margin-left: 15px;
    }
  }
  .popular{
    padding: 25px 0;
  }
  .popular-item{
    &.popular-item--big{
      width: 175px;
      .popular-item__img-box{
        width: 175px;
        height: 175px;
        margin-bottom: 0;
      }
      .popular-item__title{
        margin-bottom: 10px;
      }
    }
  }
  .blog{
    padding: 85px 0 50px;
    &__inner{
      flex-direction: column;
    }
    &__categories{
      width: 100%;
      order: -1;
    }
    .filter{
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
      &__label{
        margin-bottom: 0;
      }
    }
    &__items{
      width: 100%;
      margin-right: 0;
    }
    &__item:last-child{
      margin-bottom: 0;
    }
  }
  .register-login{
    padding: 50px 0;
    &__buttons{
      margin-bottom: 35px;
    }
    &__tub{
      font-size: 20px;
    }
    &__title + .register-login__title{
      margin-left: 40px;
    }
    &__input{
      margin-bottom: 15px;
    }
    &__label-btn{
      top: 40px;
    }
  }
  .contacts{
    padding: 50px 0;
    &__inner{
      display: block;
    }
    &__content{
      margin-bottom: 20px;
    }
    &__item{
      display: flex;
    }
    &__item + .contacts__item{
      margin-top: 30px;
    }
    &__img-box{
      margin-bottom: 0;
      width: 50px;
      height: 50px;
    }
    &__title{
      margin-bottom: 5px;
    }
    &__subtitle{
      margin-bottom: 20px;
    }
    &__review{
      padding: 0;
      box-shadow: none;
      width: 100%;
    }
    &__form-top{
      flex-direction: row;
    }
    &__input + .contacts__input{
      margin-left: 10px;
    }
    &__input{
      height: 45px;
    }
    &__input,
    &__textarea{
      padding: 10px;
      margin-bottom: 20px;
      &::placeholder{
        font-size: 12px;
      }
    }
    &__textarea{
      height: 110px;
    }
    &__btn{
      height: 35px;
      padding: 0 10px;
      font-size: 12px;
    }
    &__title{
      font-size: 28px;
    }
    &__map{
      height: 250px;
      iframe{
        height: 250px;
      }
    }
    &__subtitle{
      font-size: 18px;
    }
  }
}

@media (max-width: 615px){
  .header-top{
    &__text{
      display: none;
    }
  }
  .header-content{
    &__item{
      height: 270px;
    }
    &__slider{
      height: 355px;
    }
    .slick-dots{
      bottom: 50px;
      button{
        width: 15px;
        height: 15px;
      }
    }
    &__img-box{
      width: 200px;
      height: 200px;
    }
    &__img{
      height: 100%;
    }
    &__title{
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 10px;
    }
  }
  .menu-box{
    padding: 10px 20px;
    width: 215px;
    &__bottom{
      margin-top: 15px;
    }
    .leng{
      margin-top: 11px;
    }
  }
  .link-btn{
    padding: 8px 22px;
  }
  .product-item{
    max-width: 220px;
    height: 395px;
    &__img-box {
      width: 220px;
      height: 130px;
    }
    &__content{
      padding: 20px 15px;
      height: 255px;
    }
    &__promo{
      font-size: 10px;
      line-height: 15px;
      padding: 5px 30px;
      top: 22px;
      right: -26px;
    }
    &__title{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 7px;
    }
    &__text{
      line-height: 20px;
    }
  }
  .footer{
    &__items{
      flex-wrap: wrap;
    }
    &__social{
      width: 100%;
      margin-top: 20px;
    }
    &__text{
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__title{
      margin-bottom: 10px;
    }
  }
  .top{
    &__inner{
      padding: 30px 0;
    }
    &__title{
      margin-bottom: 5px;
      font-size: 25px;
      line-height: 35px;
    }
  }
  .breadcrumbs{
    &__item{
      font-size: 12px;
      padding-right: 20px;
      &::after{
        right: 8px;
      }
    }
    &__list{
      max-width: 240px;
    }
  }
  .shop{
    padding: 50px 0;
  }
  .shop-content{
    &__filters{
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    &__filter-buttons{
      display: none;
    }
    &__btn,
    &__filter-inner{
      margin-right: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__btn{
      height: 32px;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    &__filter-inner:first-child{
      margin-right: 10px;
    }
  }
  .product-one{
    padding: 50px 0 25px;
    &__inner{
      margin-bottom: 10px;
    }
    &__title{
      font-size: 24px;
      line-height: 35px;
    }
    &__price{
      font-size: 15px;
      line-height: 20px;
    }
    &__descr{
      font-size: 13px;
    }
    &__form{
      margin-top: 20px;
    }
    &__input{
      height: 40px;
      width: 120px;
    }
    &__btn{
      height: 42px;
      width: 120px;
    }
    .jq-number{
      &__spin{
        height: 40px;
        width: 40px;
      }
      &__field{
        width: 120px;
        input{
          padding: 8px 45px;
        }
      } 
    }
    &__form-num{
      margin-bottom: 25px;
    }  
    &__tub{
      width: 140px;
      font-size: 14px;
      line-height: 30px;
    }
    &__tubs{
      margin-bottom: 45px;
    }
  }
  .product-slider{
    &__big-item{
      height: 300px;
    }
    &__big{
      width: 240px;
    }
  }
  .reviews{
    &__text{
      font-size: 12px;
    }
    &__item.reviews__item--small{
      padding-left: 60px;
    }
  }
  .review-form{
    &__btn-text{
      font-size: 10px;
      line-height: 15px;
    }
    &__textarea{
      font-size: 12px;
      &::placeholder{
        font-size: 12px;
      }
    }
    &__btn{
      font-size: 11px;
      width: 140px;
      padding: 2px 10px;
    }
    &.review-form--small{
      padding-left: 0;
    }
  }
  .review{
    &__title{
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__input,
    &__textarea{
      padding: 8px 10px;
    }
    &__input{
      height: 35px;
    }
    &__textarea{
      height: 130px;
    }
    &__btn{
      height: 30px;
    }
  }
  .title{
    font-size: 30px;
    line-height: 40px;
  }
  .popular{
    padding: 25px 0 50px;
    .slick-dots{
      bottom: -20px;
      button{
        width: 15px;
        height: 15px;
      }
    }
  }
  .popular-item{
    min-height: 250px;
    &.popular-item--big{
      width: 125px;
      .popular-item__img-box{
        width: 125px;
        height: 125px;
        margin-bottom: 0;
      }
      .popular-item__title{
        margin-bottom: 10px;
      }
      .popular-item__descr{
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 520px){
  .header-content{
    &__slider{
      height: 315px;
    }
    &__item{
      margin-top: 30px;
      height: 200px;
    }
    &__img-box{
      width: 150px;
      height: 150px;
    }
    &__title{
      font-size: 24px;
      line-height: 28px;
    }
  }
  .popup{
    &__content{
      padding: 35px;
    }
    &__close{
      right: 8px;
      top: 11px;
    }
    &__title{
      font-size: 20px;
    }
  }
  .categories{
    &__info{
      margin-bottom: 5px;
    }
    &__info-item{
      width: 100%;
      margin-right: 0;
      height: 100%;
    }
    &__info-title,
    &__info-text{
      max-width: 100%;
    }
    &__item-title{
      margin: 8px 0 10px;
      line-height: 30px;
    }
  }
  .sale{
    &__container{
      padding: 50px 0;
    }
    &__counter-num{
      width: 75px;
      height: 75px;
    }
    &__counter-time{
      font-size: 30px;
      line-height: 35px;
    }
  }
  .cooking{
    &__item{
      font-size: 16px;
    }
    &__subtitle{
      font-size: 18px;
    }
    &__link{
      height: 250px;
    }
    &__content-link{
      padding: 10px 15px;
    }
  }
  .certificates{
    &__img{
      height: 150px;
    }
  }
  .footer{
    &__items{
      justify-content: space-around;
    }
    &__info{
      width: 100%;
      text-align: center;
    }
    &__logo-img,
    &__btn-popup{
      margin: 0 auto;
    }
    &__social{
      text-align: center;
    }
    &__menu,
    &__user{
      margin-top: 20px;
    }
  }
  .top{
    &__wrapper,
    &__inner{
      background-image: none !important;
    }
    &__title{
      font-size: 20px;
      margin-top: 0;
    }
  }
  .shop{
    padding: 30px 0;
    .product-item{
      height: 450px;
      &__title{
        font-size: 18px;
      }
      &__text,
      &__price{
        font-size: 12px;
      }
      &__search,
      &__btn{
        width: 30px;
        height: 30px;
        svg{
          max-width: 15px;
          max-height: 15px;
        }
      }
    }
    .jq-selectbox{
      &__select{
        font: 11px/28px Arial, sans-serif;
        padding: 0 25px 0 7px;
      }
      &__trigger-arrow{
        top: 12px;
        right: 8px;
      }
      &__dropdown{
        font: 11px/18px Arial, sans-serif;
      }
    }
    &__filter-title{
      font-size: 18px;
      padding: 12px 15px;
    }
    &__search{
      margin: 25px 0;
    }
    &__price{
      margin-bottom: 25px;
    }
  }
  .filter{
    &__checkbox{
      font-size: 12px;
    }
  }
  .title-filters{
    font-size: 16px;
  }
  .search-big{
    &__input{
      height: 35px;
      &::placeholder{
        font-size: 12px;
      }
    }
    &__btn{
      width: 35px;
      height: 35px;
      margin-left: -35px;
    }
  }
  .pagination{
    &__arrow{
      display: none;
    }
    &__link{
      padding: 5px 10px;
    }
  }
  .review{
    &__form-top{
      flex-direction: column;
    }
    &__input+.review__input{
      margin-left: 0;
      margin-top: 15px;
    }
    &__btn{
      width: 122px;
    }
  }
  .blog-item{
    &__content{
      padding: 20px;
    }
  }
  .register-login{
    padding: 25px 0;
    &__buttons{
      margin-bottom: 20px;
    }
    &__tub{
      font-size: 16px;
    }
    &__text,
    &__btn,
    &__input{
      font-size: 12px;
    }
    &__input{
      height: 35px;
      padding: 0 10px;
      margin-top: 3px;
      margin-bottom: 10px;
    }
    &__btn{
      height: 35px;
    }
    &__label-btn{
      width: 20px;
      height: 20px;
      top: 30px;
      right: 10px;
    }
    &__img{
      height: 15px;
    }
  }
}

@media (min-width: 430px){
  .blog{
    .filter{
      display: grid !important;
    }
  }
}

@media (max-width: 430px){
  body{
    font-size: 12px;
    line-height: 20px;
  }
  .header{
    .logo{
      &__img{
        width: 90px;
        margin-right: 10px;
      }
    }
    .callback{
      margin-left: 10px;
    }
  }
  .btn-menu{
    margin-left: 10px;
  }
  .header-content{
    &__slider{
      height: 370px;
    }
    &__item-wrapper{
      flex-direction: column;
    }
    &__item{
      height: 260px;
    }
    &__item-text{
      order: 1;
      text-align: center;
    }
    &__img-box{
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
    &__title{
      max-width: 100%;
    }
    &__desc{
      max-width: 100%;
    }
    &__link{
      margin: 0 auto;
    }
  }
  .categories{
    padding: 50px 0;
    &__items{
      display: flex;
      flex-wrap: wrap;
    }
    &__item{
      width: 100%;
      min-height: 200px;
    }
    &__item--vegetables {
      background-position: bottom -395px left;
    }
    &__item--vegetables {
      background-position: bottom -436px left -138px;
    }
    &__item--mushrooms {
      background-position: right -302px bottom -253px;
    }
  }
  .sale{
    &__counter-num{
      width: 55px;
      height: 55px;
    }
    &__counter-num + .sale__counter-num {
      margin-left: 15px;
    }
    &__counter-time{
      font-size: 20px;
      line-height: 25px;
    }
    &__counter-text{
      font-size: 10px;
      line-height: 15px;
    }
  }
  .certificates{
    &__img{
      height: 110px;
    }
  }
  .title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .top{
    &__inner{
      padding: 20px 0;
    }
    &__title{
      margin-bottom: 10px;
    }
  }
  .breadcrumbs{
    &__list{
      max-width: 185px;
    }
  }
  .shop-content{
    &__inner{
      grid-template-columns: repeat(2, 1fr);
    }
    .product-item{
      height: 335px;
      &__content{
        height: 225px;
        padding: 10px;
      }
      &__img-box{
        height: 100px;
      }
      &__title{
        font-size: 14px;
        line-height: 20px;
      }
      &__text,
      &__price{
        font-size: 10px;
        line-height: 15px;
      }
      &__text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
      &__price{
        margin-right: 80px;
        margin-top: 0;
      }
      &__search{
        margin-left: 0;
        margin-top: auto;
      }
      &__btn{
        margin-top: auto;
      }
      &__promo{
        top: 15px;
        right: -33px;
      }
      &__info{
        flex-wrap: wrap;
        height: 85px;
      }
    }
  }
  .product-one{
    &__title{
      font-size: 20px;
      line-height: 30px;
    }
  }
  .reviews{
    &__box-img{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    &__img{
      width: 40px;
      height: 40px;
    }
    &__content{
      max-width: calc(100% - 50px);
    }
    &__item.reviews__item--small{
      padding-left: 35px;
    }
  }
  .review-form{
    &__box-btn{
      flex-direction: column;
    }
    &__btn{
      margin-bottom: 8px;
    }
  }
  .popular-item{
    min-height: 220px;
    &.popular-item--big{
      width: 100px;
      .popular-item__img-box{
        width: 100px;
        height: 100px;
        margin-bottom: 0;
      }
      .popular-item__descr{
        font-size: 10px;
      }
    }
  }
  .blog{
    .filter{
      display: none;
      &__label{
        margin-bottom: 10px;
      }
    }
    &__title{
      margin-bottom: 30px;
      padding-right: 35px;
      position: relative;
      &::after,
      &::before{
        content: '';
        position: absolute;
        background-color: $accent;
      }
      &::after{
        width: 14px;
        height: 2px;
        right: 1px;
        top: 9px;
      }
      &::before{
        width: 2px;
        height: 14px;
        right: 7px;
        top: 2px;
      }
    }
    &__title--active::before{
      display: none;
    }
  }
  .blog-item{
    &__img-link{
      height: 170px;
    }
    &__img-box{
      width: 50px;
      height: 50px;
      svg{
        width: 18px;
        height: 18px;
      }
    }
    &__title{
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    &__info-text{
      margin-bottom: 15px;
    }
    .slick-arrow{
      top: 70px;
    }
    .slick-prev{
      left: 15px;
    }
    .slick-next{
      right: 15px;
    }
  }
  .contacts{
    &__title{
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__subtitle{
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    &__img-box{
      width: 40px;
      height: 40px;
    }
    &__item + .contacts__item{
      margin-top: 15px;
    }
    &__form-top{
      display: block;
    }
    &__input + .contacts__input{
      margin-left: 0;
    }
    &__input{
      height: 35px;
    }
    &__input,
    &__textarea{
      font-size: 10px;
      line-height: 16px;
      margin-bottom: 15px;
    }
    &__textarea{
      height: 95px;
    }
    &__btn{
      height: 30px;
      width: 140px;
      font-size: 10px;
    }
  }
}