@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-top{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }
  &__logo-img{
    max-height: 60px;
  }
  &__text{
    @extend %roboto-700;
    font-size: 16px;
    color: #189AD1;
    max-width: 342px;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__account{
    display: flex;
    margin-left: 30px;
  }
  &__cart{
    position: relative;
  }
  &__cart-link{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__cart-num{
    position: absolute;
    background-color: $sale;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    top: 12px;
    right: 9px;
  }
}

.leng{
  &__link{
    background-color: $bglink;
    @extend %roboto-400;
    font-size: 14px;
    color: #000;
    padding: 11px 12px;
    border-radius: 50%;
    transition: all .3s;
    &:hover{
      background-color: $accent;
      color: #fff;
    }
  }
  &__link + .leng__link{
    margin-left: 10px;
  }
  &__link--active{
    background-color: $accent;
    color: #fff;
  }
}


.callback{
  display: flex;
  align-items: center;
  &__link{
    font-size: 18px;
    color: #000;
    margin-right: 15px;
  }
  &__btn-popup{
    border: none;
    border-radius: 50%;
    background-color: $bglink;
    padding: 13px;
    line-height: 1px;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    svg{
      height: 25px;
      width: 25px;
    }
    path{
      fill: $accent;
      transition: all .3s;
    }
    &:hover{
      background-color: $accent;
      path{
        fill: #fff;
      }
    }
  }
}

.search{
  display: flex;
  &__input-box{
    width: 190px;
  }
  &__input{
    width: 100%;
    height: 51px;
    border-radius: 30px;
    border: 2px solid $bglink;
    padding: 0 55px 0 10px;
    outline: none;
  }
  &__btn{
    border: none;
    margin-left: -50px;
  }
}

.btn-menu{
  width: 40px;
  height: 40px;
  background-color: #E7E7E7;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 10;
  span{
    background-color: $accent;
    width: 30px;
    height: 2px;
    transition: all .2s;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $accent;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
  }
  &::before{
    top: 10px;
  }
  &::after{
    bottom: 10px;
  }
  &.btn-menu--close{
    background-color: $accent;
    span{
      opacity: 0;
    }
    &::before,
    &::after{
      left: 10px;
      top: 19px;
      background-color: #fff;
    }
    &::before{
      transform: rotate(45deg) ;
    }
    &::after{
      transform: rotate(-45deg) ;
    }
  }
}



.menu-box{
  background-color: $accent;
  &__bottom{
    display: none;
  }
}

.menu{
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    font-size: 14px;
    color: #fff;
    padding: 12px 0;
  }
  &__item + .menu__item{
    margin-left: 30px;
  }
  &__link{
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}

.header-content{
  background-image: url('../images/bg-header.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  &__slider{
    height: 760px;
  }
  &__item{
    margin-top: 100px;
    height: 500px;
  }
  &__item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img-box{
    overflow: hidden;
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__item-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    margin-bottom: 20px;
    max-width: 400px;
  }
  &__desc{
    max-width: 400px;
    margin-bottom: 45px;
  }
  &__link{
    background-color: $accent;
    color: #fff;
    max-width: 207px;
    padding: 8px 70px 8px 12px;
    position: relative;
    transition: all .3s;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/shape.svg');
      background-repeat: no-repeat;
    }
    &:hover{
      background-color: $sale;
    }
  }
}
.slick-dots{
  display: flex;
  margin: 0 auto;
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translateX(-50%);
  li{
    font-size: 1px;
    line-height: 1px;
    opacity: 60%;
  }
  .slick-active{
    opacity: 1;
  }
  li + li{
    margin-left: 10px;
  }
  button{
    border: none;
    background-color: $accent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
}

.categories{
  padding: 120px 0;
  background-image: url('../images/bg-categories-right.png');
  background-repeat: no-repeat;
  background-position: right bottom 55px;
  &__container{
    background-image: url('../images/bg-categories-left.png');
    background-position: left top 120px;
    background-repeat: no-repeat;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-bottom: 105px;
    &::before,
    &::after{
      content: '';
      position: absolute;
      z-index: 1;
    }
    &::before{
      width: 125px;
      height: 92px;
      background-image: url('../images/bg-info2.png');
      top: -35px;
      left: -70px;
    }
    &::after{
      width: 125px;
      height: 105px;
      background-image: url('../images/bg-info3.png');
      right: -60px;
      bottom: -40px;
    }
  }
  &__info-item{
    padding: 150px 30px 50px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background-color: #fff;
    width: 370px;
    height: 300px;
    position: relative;
    z-index: 2;
    &::before{
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50px;
      left: 30px;
    }
  }
  &__info-item--exper::before{
    background-image: url('../images/icons/certificate.svg');
  }
  &__info-item--certif::before{
    background-image: url('../images/icons/plant.svg');
  }
  &__info-item--deliv::before{
    background-image: url('../images/icons/drive.svg');
  }
  &__info-title{
    @extend %roboto-500;
    color: $title;
    font-size: 22px;
    line-height: 26px;
    max-width: 290px;
    margin-bottom: 18px;
  }
  &__info-text{
    max-width: 290px;
    color: #8d8d8d;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    min-height: 300px;
    padding: 40px;
    color: $title;
    transition: all .3s;
    background-repeat: no-repeat;
    &:hover{
      .categories__item-link::before{
        width: 100%;
      }
    }
  }
  &__item--berries{
    background-color: #EEDEEF;
    background-position: center bottom;
    grid-row: span 2;
    .categories__item-link::before{
      background-color: #5800e4;
    }
    &:hover{
      .categories__item-link,
      .categories__num{
        color: #5800e4;
      }
    }
  }
  &__item--vegetables{
    background-color: #DEEEEF;
    grid-column: span 2;
    background-position: right -130px center;
    .categories__item-link::before{
      background-color: #0093d5;
    }
    &:hover{
      .categories__item-link,
      .categories__num{
        color:  #0093d5;
      }
    }
  }
  &__item--mix{
    background-color: #FEF6A9;
    background-position: right -115px bottom -115px;
    .categories__item-link::before{
      background-color: #a66d00;
    }
    &:hover{
      .categories__item-link,
      .categories__num{
        color:  #a66d00;
      }
    }
  }
  &__item--mushrooms{
    background-color: #ECECEC;
    background-position: right -270px bottom -180px;
    .categories__item-link::before{
      background-color: #fe3e57;
    }
    &:hover{
      .categories__item-link,
      .categories__num{
        color: #fe3e57;
      }
    }
  }
  &__item-title{
    margin: 8px 0 15px;
    @extend %roboto-500;
    font-size: 22px;
  }
  &__item-link{
    padding-bottom: 5px;
    position: relative;
    transition: all .3s;
    &::before{
      content: '';
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      transition: all .3s;
    }
  }
  &__num{
    transition: all .3s;
  }
}

.sale{
  background-image: url('../images/bg-sale.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__container{
    padding: 130px 0;
    background-image: url('../images/bg-sale-1.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
  }
  &__inner{
    width: 50%;
    margin-left: auto;
    text-align: center;
  }
  &__counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  &__counter-num{
    border-radius: 50%;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    background-color: #fff;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__counter-time{
    @extend %roboto-700;
    font-size: 48px;
    line-height: 52px;
    color: $title;
  }
  &__counter-text{
    color: #8d8d8d;
  }
  &__link{
    display: inline-block;
  }
}

.product{
  padding: 120px 0;
  text-align: center;
  &__inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
  }
}

.product-item{
  max-width: 370px;
  height: 600px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  &__img-box{
    width: 370px;
    height: 300px;
    display: block;
    overflow: hidden;
    position: relative;
    &:hover{
      .product-item__img{
        transform: scale(1.2);
      }
    }
  }
  &__promo{
    position: absolute;
    top: 23px;
    right: -40px;
    transform: rotate(45deg);
    padding: 10px 50px;
    background-color: #F10000;
    text-transform: uppercase;
    color: #fff;
    @extend %roboto-700;
    letter-spacing: 5px;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
  }
  &__content{
    padding: 21px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title{
    @extend %roboto-700;
    font-size: 22px;
    color: $title;
    margin-bottom: 12px;
  }
  &__text{
    line-height: 30px;
  }
  &__info{
    margin-top: auto;
    display: flex;
    align-items: center;
  }
  &__price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__price-num{
    @extend %roboto-500;
  }
  &__price-promo{
    color: #ababab;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      height: 1px;
      width: 110%;
      top: 50%;
      left: -4px;
      background-color: #ababab;
    }
  }
  &__search{
    margin: 0 10px 0 auto;
  }
  &__search,
  &__btn{
    background-color: $bglink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: all .3s;
    path{
      transition: all .3s;
    }
    &:hover{
      background-color: $accent;
      path{
        fill: #fff;
      }
    }
  }
  &__btn{
    border: none;
    cursor: pointer;
  }
  &.product-item--list {
    max-width: 100%;
    width: 100%;
    height: 252px;
    display: flex;
    .product-item__img-box{
      width: 200px;
      height: 252px;
    }
    .product-item__content{
      height: 252px;
      width: 100%;
      max-width: 600px;
      padding: 25px 40px;
    }
    .product-item__promo {
      top: 21px;
      right: -51px;
      padding: 5px 50px;
    }
    .product-item__price{
      flex-direction: row;
    }
    .product-item__price-promo{
      order:1;
    }
    .product-item__price-num{
      margin-right: 15px;
    }
  }
}

.cooking{
  padding: 120px 0;
  background-image: url('../images/bg-sale.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__inner{
    display: flex;
  }
  &__link{
    width: 45%;
    height: 530px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      .cooking__link-img{
        transform: scale(2);
      }
    }
  }
  &__link-img{
    transition: all .3s;
  }
  &__content{
    width: 45%;
  }
  &__subtitle{
    @extend %roboto-700;
    font-size: 22px;
    color: $title;
    margin-bottom: 15px;
  }
  &__item{
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__content-link{
    margin-top: 30px;
    display: inline-block;
    padding: 15px 35px;
  }
  &__text{
    margin-bottom: 10px;
  }
}

.partners{
  padding: 120px 0;
  &__img-box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    height: 100%;
    margin: 0 auto;
  }
}

.certificates{
  background-image: url('../images/bg-categories-left.png');
  background-repeat: no-repeat;
  background-position: left bottom 20px;
  background-size: auto 65%;
  &__wrapper{
    padding: 120px 0;
    background-image: url('../images/bg-categories-right.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 50%;
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img{
    height: 380px;
  }
}

.footer{
  padding: 70px 0 30px;
  background-color: #D1E5FB;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__logo-img{
    height: 60px;
  }
  &__addres{
    margin: 10px 0 20px;
  }
  &__email{
    display: inline-block;
    margin-bottom: 20px;
    color: #000;
  }
  &__title{
    @extend %roboto-500;
    font-size: 22px;
    line-height: 36px;
    color: $title;
    margin-bottom: 30px;
  }
  &__list-item{
    margin-bottom: 15px;
    cursor: pointer;
    &:hover{
      .footer__link{
        border-bottom: 1px solid #555;
      }
    }
  }
  &__link{
    color: #555;
    border-bottom: 1px solid transparent;
    transition: all .3s;
  }
  &__text{
    max-width: 270px;
    color: #555;
    margin-bottom: 30px;
  }
  &__btn-popup{
    border: 1px solid $accent;
    path{
      fill:$accent;
    }
  }
}

.social{
  &__link + .social__link{
    margin-left: 10px;
  }
  &__link{
    svg{
      height: 35px;
    }
    path{
      fill: $accent;
      transition: all .3s;
    }
    &:hover{
      path{
        fill: $sale;
      }
    }
  }
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  &.open{
    opacity: 1;
    visibility: visible;
    .popup__content{
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__content{
    background-color: #fff;
    max-width: 800px;
    padding: 65px;
    position: relative;
    transform: translateY(-100%);
    opacity: 0;
    transition: all .3s;
  }
  &__close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #000;
    font-size: 40px;
  }
  &__title{
    @extend %roboto-700;
    font-size: 28px;
    margin-bottom: 25px;
  }
  &__form{
    display: flex;
    flex-direction: column;
  }
  &__input{
    padding: 8px 10px;
    margin-bottom: 15px;
    outline: none;
  }
  &__btn{
    padding: 10px;
  }
}

/* -------------------CATALOG----------------------------------- */

.top{
  &__container{
    background-image: url('../images/bg-catalog.jpg');
    background-repeat: no-repeat;
    background-position: center -100px;
    background-size: cover;
    padding: 0;
  }
  &__wrapper{
    background-repeat: no-repeat;
    background-position: left -50px center;
  }
  &__inner{
    background-repeat: no-repeat;
    background-position: right -50px center;
    padding: 120px 0;
    text-align: center;
  }
  &__title{
    margin: 20px auto 20px;
    max-width: 815px;
  }
}

.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filter-wrapper{
    width: calc(1 / 3 * 100%);
    margin-right: 40px;
  }
  &__filter-title{
    display: none;
  }
  &__search{
    margin-bottom: 70px;
  }
  &__price{
    margin-bottom: 70px;
  }
}

.form-price{
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  &__from,
  &__to{
    outline-color: $accent;
    width: 85px;
    padding: 3px 15px;
    border: 1px solid #cecece;
    margin-right: 15px;
  }
  &__input-box{
    display: flex;
  }
}

.irs--flat{
  .irs-bar {
      top: 25px;
      height: 5px;
      background-color: $accent;
  }
  .irs-line {
      top: 25px;
      height: 5px;
      background-color: #e1e4e9;
      border-radius: 4px;
  }
  .irs-min,
  .irs-max {
    display: none;
  }
  .irs-handle {
    top: 12px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
    transition: background-color .3s;
    cursor: pointer;
    &>i:first-child {
      display: none;
    }
    &:hover{
      background-color: $accent
    }
  }
  .irs-from,
  .irs-to,
  .irs-single{
    display: none;
  }
} 

.filter{
  margin-bottom: 70px;
  &__label{
    display: block;
    cursor: pointer;
    margin-bottom: 15px;
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 20px;
    letter-spacing: 1.5px;
    transition: all .3s;
  }
  &__input:checked + .filter__checkbox{
    background-color: $accent;
    color: #fff;
  }
}

.popular-item{
  display: flex;
  margin-bottom: 20px;
  &.popular-item--big{
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    .popular-item__img-box{
      width: 275px;
      height: 275px;
      overflow: hidden;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .popular-item__descr{
      padding: 15px;
    }
  }
  &:hover{
    .popular-item__img{
      transform: scale(1.3);
    }
    .popular-item__title,
    .popular-item__price{
      color: $accent;
    }
  }
  &__img-box{
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 20px;
  }
  &__img{
    transition: all .3s;
  }
  &__title,
  &__price{
    display: block;
    @extend %roboto-500;
    color: #000;
  }
  &__title{
    margin-bottom: 5px;
  }
}

.shop-content{
  width: calc(2 / 3 * 100%);
  &__filter-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__filter-btn{
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: transparent;
    cursor: pointer;
    outline-color: transparent;
    path{
      fill: #8d8d8d;
      transition: all .3s;
    }
  }
  &__filter-btn--active{
    path{
      fill: $accent;
    }
  }
  &__filter-form{
    display: flex;
  }
  &__filters{
    display: flex;
  }
  &__btn{
    display: none;
    padding: 0 10px;
    margin-right: 20px;
  }
  &__btn-img{
    max-height: 15px;
  }
  &__filter-inner{
    display: flex;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__select.opened{
    .jq-selectbox__trigger-arrow{
      border-top: 5px solid $accent;
      transform: rotate(-180deg);
    }
  }
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: none;
  border-bottom-color: none;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  text-shadow: none;
  background: #f6f6f6;
}

.jq-selectbox__trigger{
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  border-top: 5px solid #616161;
  transition: all .3s;
}

.jq-selectbox:hover{
  & .jq-selectbox__trigger-arrow {
    border-top-color: $accent;
  }
} 

.jq-selectbox li.selected {
    background-color: $accent;
    color: #FFF;
}
.jq-selectbox li:hover {
    background-color: $accent;
    color: #FFF;
}

.pagination{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__list{
    display: flex;
  }
  &__item + .pagination__item,
  &__next{
    margin-left: 15px;
  }
  &__item{
    color: $accent;
  }
  &__link,
  &__arrow{
    border: 1px solid $accent;
    color: $accent;
    transition: all .3s;
    &:hover{
      background-color: $accent;
      color: #fff;
    }
  }
  &__link{
    padding: 10px 20px;
  }
  &__item--active{
    .pagination__link{
      background-color: $accent;
      color: #fff;
    }
  }
  &__arrow{
    padding: 7px 20px;
  }
  &__prev{
    margin-right: 15px;
    display: none;
  }
}

/* --------------------Product-one------------------------------- */

.product-one{
  padding: 120px 0 50px;
  &__inner{
    display: flex;
    margin-bottom: 50px;
  }
  &__slider{
    margin-right: 25px;
    width: 550px;
  }
  &__content{
    padding: 20px 0;
  }
  &__title{
    font-size: 40px;
    line-height: 50px;
    color: $title;
    margin-bottom: 35px;
  }
  &__price{
    margin-bottom: 30px;
    font-size: 22px;
    @extend %roboto-500;
    color: $title;
  }
  &__promo{
    margin-left: 15px;
    color: #ababab;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      height: 1px;
      width: 110%;
      top: 50%;
      left: -4px;
      background-color: #ababab;
    }
  }
  &__item-title{
    @extend %roboto-700;
  }
  &__item + .product-one__item{
    margin-top: 5px;
  }
  &__form{
    margin-top: 35px;
  }
  &__form-num{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__input{
    width: 148px;
    height: 50px;
    margin-right: 15px;
  }
  &__btn{
    width: 205px;
    height: 52px;
    padding: 10px;
  }
  &__form-tags{
    color: #656464;
    line-height: 30px;
  }
  &__buttons{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &__tubs{
    margin-bottom: 60px;
  }
  &__tub{
    width: 200px;
    background-color: #edf1f4;
    color: $accent;
    @extend %roboto-500;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin-right: 15px;
    &.product-one__tub--active{
      background-color: $accent;
      color: #fff;
    }
  }
  &__tubs-item{
    display: none;
    &.product-one__tubs-item--active{
      display: block;
    }
  }
  &__tubs-title{
    font-size: 20px;
    color: $accent;
    margin-bottom: 15px;
  }
  .jq-number__spin{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    border-bottom-color: none;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    &:hover{
      background: none;
    }
    &::after,
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #000;
      border-right: none;
      border-bottom: none;
      border-left: none;
    }
    &::after{
      width: 10px;
      height: 1.5px;
    }
    &::before{
      height: 10px;
      width: 1.5px;
    }
    &.minus{
      left: 1px;
      top: 1px;
      border-right: 1px solid $accent;
      &::after{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: none;
        border-right: none;
        border-left: none;
      }
      &::before{
        display: none;
      }
    }
    &.plus{
      border-left: 1px solid $accent;
    }
    
  }
  
  .jq-number__field {
    width: 148px;
    border: 1px solid $accent;
    border-bottom-color: $accent;
    border-radius: 0;
    box-shadow: none;
    &:hover{
      border-color: $accent;
    }
    & input{
      padding: 8px 53px;
      text-align: center;
      color: #000;
    }
  }
}


.product-slider{
  display: flex;
  &__big{
    width: 380px;
  }
  &__small{
    width: 140px;
    height: 530px;
    margin-right: 24px;
  }
  &__big-item{
    overflow: hidden;
    height: 534px;
    margin-bottom: 30px;
  }
  &__small-item{
    overflow: hidden;
    height: 164px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  &__big-img,
  &__small-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__small-item,
  &__big-item{
    border: 2px solid #f2f2f2;
  }
}

.reviews{
  &__inner.reviews__inner--form{
    .review-form{
      display: block;
    }
  }
  &__item{
    display: flex;
    margin-bottom: 30px;
    &.reviews__item--small{
      padding-left: 95px;
    }
  } 
  &__box-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
  } 
  &__img{
    object-fit: contain;
    width: 70px;
    height: 70px;
  }
  &__content{
    width: 100%;
    max-width: calc(100% - 95px);
  }
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__name{
    @extend %roboto-700;
  }
  &__btn{
    padding: 0;
    padding-left: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    color: $accent;
    outline-color: transparent;
    &::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 13px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/arrow.svg');
    }
  }
}

.review-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  display: none;
  &.review-form--small{
    padding-left: 95px;
  }
  &__textarea{
    width: 100%;
    resize: none;
    padding: 15px;
    margin-bottom: 10px;
    outline-color: rgba(41, 103, 175, 0.5);
  }
  &__box-btn{
    display: flex;
  }
  &__btn{
    width: 200px;
    font-size: 14px;
    margin-right: 15px;
    padding: 10px;
  }
  &__btn-text{
    font-size: 14px;
    color: #8d8d8d;
  }
}

.review{
  &__title{
    font-size: 22px;
    margin-bottom: 40px;
  }
  &__form{
    width: 100%;
  }
  &__form-top{
    display: flex;
    margin-bottom: 30px;
  }
  &__input + .review__input{
    margin-left: 28px;
  }
  &__input,
  &__textarea{
    width: 100%;
    border: 1px solid #ececec;
    outline-color: rgba(41, 103, 175, 0.5);
    padding: 15px;
  }
  &__input{
    height: 47px;
  }
  &__textarea{
    height: 220px;
    resize: none;
    border-radius: 0;
    margin-bottom: 40px;
  }
  &__btn{
    width: 180px;
    height: 50px;    
  }
}

.popular{
  padding: 50px 0;
  &__items{
    display: flex;
    justify-content: space-between;
  }
}

/* -------------------------------------BLOG--------------------------------- */

.blog{
  padding: 116px 0;
  &__inner{
    display: flex;
  }
  &__items{
    max-width: 770px;
    margin-right: 60px;
  }
  &__item + .blog__item{
    margin-top: 60px;
  }
  &__categories{
    width: 100%;
  }
}

.search-big{
    display: flex;
    margin-bottom: 40px;
  &__box{
    width: 100%;
  }
  &__input{
    width: 100%;
    height: 50px;
    padding: 15px 60px 15px 15px;
    background-color: #f6f6f6;
    border: none;
    outline-color: $accent;
  }
  &__btn{
    margin-left: -50px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    path{
      fill: #fff;
    }
  }

}

.blog-item{
  border:1px solid #ececec;
  overflow: hidden;
  &__img-link{
    max-width: 768px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover{
      .blog-item__img-box{
        background-color: $accent;
      }
      .blog-item__img{
        transform: scale(1.2);
      }
      path{
        fill: #fff;
      }
    }
  }
  &__img{
    transition: all .3s;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
    margin-bottom: 7px;
    path{
      fill: $accent;
      transition: all .3s;
    }
  }
  &__content{
    padding: 40px;
  }
  &__title{
    @extend %roboto-500;
    font-size: 22px;
    line-height: 32px;
    color: #29282d;
    margin-bottom: 25px;
    &:hover{
      color: $accent;
    }
  }
  &__title-link{
    color: inherit;
  }
  &__info{
    display: flex;
  }
  &__info-text{
    color: #8d8d8d;
    padding-left: 30px;
    margin-bottom: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  }
  &__info-text--time{
    margin-right: 30px;
    &::before{
      background-image: url('../images/icons/clock.svg');
    }
  }
  &__info-text--kcal::before{
    background-image: url('../images/icons/check.svg');
  }
  &__text{
    color: #8d8d8d;
    &:hover{
      color: $accent;
    }
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: $accent;
    border: none;
    border-radius: 50%;
    outline: none;
    path{
      fill: #fff;
    }
  }
  .slick-disabled{
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
    path{
      fill: $accent;
    }
  }
  .slick-prev{
    left: 35px;
    z-index: 10;
  }
  .slick-next{
    right: 35px;
  }
}

.register-login{
  padding: 120px 0;
  &__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }
  &__tub{
    font-size: 22px;
    line-height: 30px;
    color: $title;
    text-transform: uppercase;
  }
  &__tub--active{
    @extend %roboto-700;
    color: $accent;
  }
  &__tub + .register-login__tub{
    margin-left: 55px;
  }
  &__form{
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    display: none;
  }
  &__form--active{
    display: block;
  }
  &__text{
    color: #8d8d8d;
  }
  &__input,
  &__btn{
    width: 100%;
    height: 55px;
  }
  &__input{
    padding: 20px;
    margin-top: 10px;
    background-color: #f6f6f6;
    outline-color: $accent;
    border: none;
    margin-bottom: 30px;
  }
  &__agree{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__checkbox{
    margin-right: 20px;
    cursor: pointer;
  }
  &__link{
    margin-bottom: 15px;
    display: inline-block;
    color: $accent;
    &:hover{
      color: $sale;
    }
  }
  &__label-pass{
    position: relative;
  }
  &__label-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    opacity: 0.4;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    top: 49px;
    display: none;
  }
  &__label-btn--active{
    display: block;
  }
  &__img{
    height: 20px;
  }
}

.contacts{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__title{
    text-align: left;
    margin-bottom: 20px;
  }
  &__subtitle{
    font-size: 24px;
    line-height: 40px;
    color: #8d8d8d;
    margin-bottom: 45px;
  }
  &__content{
    margin-right: 35px;
  }
  &__item{
    display: flex;
    align-items: center;
  }
  &__item + .contacts__item{
    margin-top: 40px;
  }
  &__img-box{
    box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
  &__text{
    color: #292929;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
  }
  &__link{
    color: inherit;
  }
  &__link + .contacts__link{
    margin-top: 5px;
  }
  &__review{
    box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
    background-color: #fff;
    max-width: 700px;
    width: 60%;
    padding: 55px 40px;
  }
  &__review-title{
    @extend %roboto-700;
    font-size: 22px;
    line-height: 58px;
    color: $title;
  }
  &__form-top{
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__input + .contacts__input{
    margin-left: 30px;
  }
  &__input{
    height: 60px;
  }
  &__input--top{
    width: 50%;
  }
  &__input,
  &__textarea{
    margin-bottom: 30px;
    border: none;
    outline-color: $accent;
    background-color: #f6f6f6;
    width: 100%;
    padding: 10px 20px;
    &::placeholder{
      color: #8d8d8d;
    }
  }
  &__textarea{
    height: 200px;
    resize: none;
  }
  &__btn{
    padding: 10px;
    width: 220px;
    height: 60px;
  }
  &__map{
    width: 100%;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 450px;
    }
  }
}






















@import 'media';

